:root {
  --neutraldgrey: rgba(77, 77, 77, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
  --neutralgrey: rgba(113, 113, 113, 1);
  --text-gray-900: rgba(24, 25, 31, 1);
  --brandprimary: rgba(76, 175, 79, 1);
  --neutrallgrey: rgba(137, 147, 158, 1);
  --neutralblack: rgba(38, 50, 56, 1);
  --neutralsilver: rgba(245, 247, 250, 1);
  --text-gray-300: rgba(217, 219, 225, 1);
  --tintt-5: rgba(232, 245, 233, 1);
  --default-white: rgba(255, 255, 255, 1);
}
