.TK {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1002.34px;
  min-height: 3046px;
  position: relative;
}

.TK .header {
  display: flex;
  width: 1002px;
  align-items: center;
  justify-content: center;
  gap: 43.85px;
  padding: 11.14px 100.23px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--neutralwhite);
  box-shadow: 0px 2.78px 5.57px #abbed166;
}

.TK .div {
  gap: 5.57px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.TK .icon {
  position: relative;
  width: 24.36px;
  height: 16.71px;
}

.TK .vector {
  position: absolute;
  width: 39.07%;
  height: 48.71%;
  top: 51.29%;
  left: 18.73%;
}

.TK .img {
  position: absolute;
  width: 39.09%;
  height: 48.71%;
  top: 0;
  left: 60.91%;
}

.TK .vector-2 {
  position: absolute;
  width: 34.30%;
  height: 43.09%;
  top: 0;
  left: 0;
}

.TK .vector-3 {
  position: absolute;
  width: 34.41%;
  height: 42.85%;
  top: 3.77%;
  left: 21.05%;
}

.TK .vector-4 {
  position: absolute;
  width: 35.23%;
  height: 44.02%;
  top: 55.98%;
  left: 41.86%;
}

.TK .vector-5 {
  position: absolute;
  width: 33.91%;
  height: 43.35%;
  top: 53.31%;
  left: 63.61%;
}

.TK .nexcent {
  position: relative;
  width: 77.6px;
  height: 14.38px;
}

.TK .right-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22.27px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.TK .header-menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 16.71px;
  position: relative;
  flex: 0 0 auto;
}

.TK .why-justgo {
  width: 71px;
  text-align: center;
  position: relative;
  margin-top: -0.70px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--neutraldgrey);
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16.7px;
}

.TK .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -0.70px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--neutraldgrey);
  font-size: 11.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16.7px;
  white-space: nowrap;
}

.TK .why-justgo-2 {
  width: fit-content;
  white-space: nowrap;
  position: relative;
  margin-top: -0.70px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--neutraldgrey);
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16.7px;
}

.TK .button {
  all: unset;
  box-sizing: border-box;
  gap: 5.57px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9.74px 22.27px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--brandprimary);
  border-radius: 2.78px;
}

.TK .label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -0.70px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--neutralwhite);
  text-align: center;
  white-space: nowrap;
  position: relative;
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16.7px;
}

.TK .element-arrows-directions {
  position: relative;
  width: 11.14px;
  height: 11.14px;
}

.TK .home {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27.84px;
  position: absolute;
  top: 58px;
  left: 0;
}

.TK .hero-section {
  display: flex;
  align-items: center;
  gap: 72.39px;
  padding: 66.82px 100.23px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--neutralsilver);
}

.TK .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22.27px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.TK .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11.14px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.TK .lessons-and-insights {
  position: relative;
  align-self: stretch;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 44.5px;
  letter-spacing: 0;
  line-height: 52.9px;
}

.TK .span {
  color: #4d4d4d;
}

.TK .text-wrapper-2 {
  color: #4caf4f;
}

.TK .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralgrey);
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16.7px;
}

.TK .label-wrapper {
  all: unset;
  box-sizing: border-box;
  gap: 6.96px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9.74px 22.27px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--brandprimary);
  border-radius: 2.78px;
}

.TK .illustration {
  position: relative;
  width: 272.16px;
  height: 283.3px;
}

.TK .clients {
  display: flex;
  flex-direction: column;
  width: 1002.34px;
  align-items: center;
  gap: 11.14px;
  padding: 0px 100.23px;
  position: relative;
  flex: 0 0 auto;
}

.TK .div-3 {
  display: flex;
  flex-direction: column;
  width: 772.64px;
  align-items: center;
  gap: 5.57px;
  position: relative;
  flex: 0 0 auto;
}

.TK .section-title {
  position: relative;
  align-self: stretch;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--neutraldgrey);
  font-size: 25.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.6px;
}

.TK .description {
  align-self: stretch;
  color: var(--neutralgrey);
  text-align: center;
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16.7px;
}

.TK .clients-logos {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 68.21px;
  margin-right: -2.78px;
}

.TK .community {
  display: inline-flex;
  align-items: flex-start;
  gap: 11.14px;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.TK .community-2 {
  display: flex;
  width: 1002.34px;
  align-items: center;
  gap: 5.57px;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.TK .section-title-2 {
  width: 377.27px;
  color: var(--neutraldgrey);
  text-align: center;
  position: relative;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25.1px;
  letter-spacing: 0;
  line-height: 30.6px;
}

.TK .frame-2 {
  display: flex;
  width: 1002.34px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100.23px;
  position: relative;
  flex: 0 0 auto;
}

.TK .div-4 {
  display: flex;
  flex-direction: column;
  width: 208.12px;
  align-items: center;
  gap: 5.57px;
  padding: 16.71px 22.27px;
  position: relative;
  background-color: var(--neutralwhite);
  border-radius: 5.57px;
  box-shadow: 0px 1.39px 2.78px #abbed133;
}

.TK .member {
  display: flex;
  flex-direction: column;
  width: 185.85px;
  align-items: center;
  gap: 11.14px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -11.14px;
  margin-right: -11.14px;
}

.TK .icon-2 {
  position: relative;
  width: 45.24px;
  height: 38.98px;
}

.TK .rectangle {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 35px;
  height: 34px;
  background-color: var(--tintt-5);
  border-radius: 12.53px 3.48px 6.96px 3.48px;
  transform: rotate(-180.00deg);
}

.TK .vector-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 33px;
}

.TK .vector-6 {
  position: absolute;
  width: 99.95%;
  height: 56.26%;
  top: 20.83%;
  left: 0;
}

.TK .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutraldgrey);
  font-size: 19.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.1px;
}

.TK .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 5.57px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -5.57px;
  margin-right: -5.57px;
}

.TK .text-wrapper-4 {
  position: relative;
  width: 174.71px;
  margin-top: -0.70px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralgrey);
  font-size: 9.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.9px;
}

.TK .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 5.57px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -1.74px;
  margin-right: -1.74px;
}

.TK .text-wrapper-5 {
  position: relative;
  width: 167.06px;
  margin-top: -0.70px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralgrey);
  font-size: 9.7px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13.9px;
}

.TK .text-wrapper-6 {
  position: relative;
  width: 160.79px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutraldgrey);
  font-size: 19.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.1px;
}

.TK .body {
  flex-direction: column;
  justify-content: center;
  gap: 33.41px;
  position: absolute;
  top: 982px;
  left: 1px;
  display: inline-flex;
  align-items: flex-start;
}

.TK .unlock-wrapper {
  position: relative;
  flex: 0 0 auto;
  overflow-x: scroll;
  display: inline-flex;
  align-items: flex-start;
}

.TK .unlock-wrapper::-webkit-scrollbar {
  width: 0;
  display: none;
}

.TK .unlock {
  display: flex;
  width: 1002.34px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100.23px;
  position: relative;
}

.TK .frame-4 {
  position: relative;
  width: 307.66px;
  height: 301.4px;
}

.TK .frame-5 {
  display: flex;
  flex-direction: column;
  width: 460.1px;
  align-items: flex-start;
  gap: 22.27px;
  position: relative;
}

.TK .frame-6 {
  display: flex;
  flex-direction: column;
  width: 418.34px;
  align-items: flex-start;
  gap: 11.14px;
  position: relative;
  flex: 0 0 auto;
}

.TK .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--neutraldgrey);
  font-size: 25.1px;
  letter-spacing: 0;
  line-height: 30.6px;
}

.TK .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralgrey);
  font-size: 9.7px;
  letter-spacing: 0;
  line-height: 13.9px;
}

.TK .achievements {
  display: flex;
  width: 1002.34px;
  align-items: center;
  justify-content: space-between;
  padding: 44.55px 100.23px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--neutralsilver);
}

.TK .section-heading {
  display: flex;
  flex-direction: column;
  width: 375.88px;
  align-items: flex-start;
  gap: 5.57px;
  position: relative;
}

.TK .section-title-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.57px;
  position: relative;
  flex: 0 0 auto;
}

.TK .section-title-3 {
  width: 284px;
  color: transparent;
  position: relative;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 25.1px;
  letter-spacing: 0;
  line-height: 30.6px;
}

.TK .description-2 {
  align-self: stretch;
  color: var(--text-gray-900);
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16.7px;
}

.TK .counts {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 27.84px;
  position: relative;
  flex: 0 0 auto;
}

.TK .row {
  display: inline-flex;
  align-items: center;
  gap: 20.88px;
  position: relative;
  flex: 0 0 auto;
}

.TK .element {
  display: inline-flex;
  align-items: center;
  gap: 11.14px;
  position: relative;
  flex: 0 0 auto;
}

.TK .icon-3 {
  position: relative;
  width: 33.41px;
  height: 33.41px;
}

.TK .vector-7 {
  position: absolute;
  width: 97.46%;
  height: 64.83%;
  top: 17.16%;
  left: 0;
}

.TK .details {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.TK .number {
  position: relative;
  width: 132.95px;
  margin-top: -0.70px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--neutraldgrey);
  font-size: 19.5px;
  letter-spacing: 0;
  line-height: 25.1px;
}

.TK .label-2 {
  width: 132.95px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralgrey);
  position: relative;
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16.7px;
}

.TK .group {
  position: relative;
  width: 67.44%;
  height: 62.50%;
  top: 18.75%;
  left: 16.60%;
}

.TK .vector-8 {
  position: absolute;
  width: 38.79%;
  height: 56.82%;
  top: 0;
  left: 28.43%;
}

.TK .vector-9 {
  position: absolute;
  width: 47.39%;
  height: 44.99%;
  top: 55.01%;
  left: 0;
}

.TK .vector-10 {
  position: absolute;
  width: 47.39%;
  height: 44.99%;
  top: 55.01%;
  left: 52.61%;
}

.TK .vector-11 {
  position: absolute;
  width: 66.67%;
  height: 75.00%;
  top: 10.42%;
  left: 14.58%;
}

.TK .vector-12 {
  position: absolute;
  width: 87.50%;
  height: 68.75%;
  top: 15.63%;
  left: 6.25%;
}

.TK .mobile-login-pana {
  position: relative;
  width: 307.34px;
  height: 301.68px;
}

.TK .background-complete {
  position: absolute;
  width: 100%;
  height: 87.81%;
  top: 0;
  left: 0;
}

.TK .floor {
  position: absolute;
  width: 72.60%;
  height: 0;
  top: 99.88%;
  left: 12.64%;
  background-image: url(./img/vector-71.svg);
  background-size: 100% 100%;
}

.TK .plant {
  position: absolute;
  width: 19.45%;
  height: 34.10%;
  top: 45.34%;
  left: 65.10%;
}

.TK .vector-13 {
  position: absolute;
  width: 100%;
  height: 76.07%;
  top: 0;
  left: 0;
}

.TK .vector-14 {
  position: absolute;
  width: 73.08%;
  height: 98.26%;
  top: 0;
  left: 21.31%;
}

.TK .vector-15 {
  position: absolute;
  width: 5.26%;
  height: 23.00%;
  top: 13.24%;
  left: 43.17%;
}

.TK .vector-16 {
  position: absolute;
  width: 46.14%;
  height: 5.04%;
  top: 31.18%;
  left: 48.58%;
}

.TK .vector-17 {
  position: absolute;
  width: 23.29%;
  height: 34.34%;
  top: 31.78%;
  left: 5.02%;
}

.TK .vector-18 {
  position: absolute;
  width: 61.49%;
  height: 11.50%;
  top: 54.60%;
  left: 28.30%;
}

.TK .padlock {
  position: absolute;
  width: 19.50%;
  height: 23.76%;
  top: 0;
  left: 63.96%;
  background-image: url(./img/vector-32.svg);
  background-size: 100% 100%;
}

.TK .vector-19 {
  position: absolute;
  width: 51.68%;
  height: 15.66%;
  top: 22.76%;
  left: 12.23%;
}

.TK .vector-20 {
  position: absolute;
  width: 65.34%;
  height: 71.46%;
  top: 24.61%;
  left: 30.18%;
}

.TK .vector-21 {
  position: absolute;
  width: 25.57%;
  height: 26.81%;
  top: 8.84%;
  left: 18.15%;
}

.TK .vector-22 {
  position: absolute;
  width: 25.72%;
  height: 33.11%;
  top: 48.79%;
  left: 37.08%;
}

.TK .device {
  position: absolute;
  width: 36.05%;
  height: 79.58%;
  top: 11.66%;
  left: 36.91%;
}

.TK .vector-23 {
  position: absolute;
  width: 93.79%;
  height: 88.21%;
  top: 0;
  left: 0;
}

.TK .vector-24 {
  position: absolute;
  width: 85.15%;
  height: 82.49%;
  top: 2.62%;
  left: 4.32%;
}

.TK .vector-25 {
  position: absolute;
  width: 49.99%;
  height: 7.02%;
  top: 68.31%;
  left: 21.91%;
}

.TK .text-wrapper-9 {
  position: absolute;
  width: 62.33%;
  height: 29.97%;
  top: 70.03%;
  left: 35.87%;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #e8e8e3;
  font-size: 5.7px;
  letter-spacing: 0;
  line-height: normal;
}

.TK .vector-26 {
  position: absolute;
  width: 16.70%;
  height: 0;
  top: 24.21%;
  left: 15.69%;
}

.TK .vector-27 {
  position: absolute;
  width: 67.04%;
  height: 5.28%;
  top: 27.65%;
  left: 15.48%;
}

.TK .vector-28 {
  position: absolute;
  width: 30.54%;
  height: 0;
  top: 29.34%;
  left: 20.72%;
}

.TK .vector-29 {
  position: absolute;
  width: 16.70%;
  height: 0;
  top: 37.12%;
  left: 15.57%;
}

.TK .vector-30 {
  position: absolute;
  width: 67.05%;
  height: 5.27%;
  top: 40.59%;
  left: 15.33%;
}

.TK .vector-31 {
  position: absolute;
  width: 16.70%;
  height: 0;
  top: 50.58%;
  left: 15.45%;
}

.TK .vector-32 {
  position: absolute;
  width: 67.04%;
  height: 5.29%;
  top: 54.01%;
  left: 15.25%;
}

.TK .vector-33 {
  position: absolute;
  width: 30.54%;
  height: 0;
  top: 42.55%;
  left: 20.05%;
}

.TK .vector-34 {
  position: absolute;
  width: 2.67%;
  height: 0;
  top: 56.18%;
  left: 20.16%;
}

.TK .vector-35 {
  position: absolute;
  width: 2.67%;
  height: 0;
  top: 56.20%;
  left: 24.29%;
}

.TK .vector-36 {
  position: absolute;
  width: 2.67%;
  height: 0;
  top: 56.20%;
  left: 28.43%;
}

.TK .vector-37 {
  position: absolute;
  width: 2.67%;
  height: 0;
  top: 56.21%;
  left: 32.57%;
}

.TK .vector-38 {
  position: absolute;
  width: 2.67%;
  height: 0;
  top: 56.22%;
  left: 36.71%;
}

.TK .vector-39 {
  position: absolute;
  width: 2.67%;
  height: 0;
  top: 56.23%;
  left: 40.85%;
}

.TK .vector-40 {
  position: absolute;
  width: 2.67%;
  height: 0;
  top: 56.24%;
  left: 44.98%;
}

.TK .vector-41 {
  position: absolute;
  width: 2.67%;
  height: 0;
  top: 56.25%;
  left: 49.12%;
}

.TK .vector-42 {
  position: absolute;
  width: 2.67%;
  height: 0;
  top: 56.26%;
  left: 53.26%;
}

.TK .group-2 {
  position: absolute;
  width: 35.77%;
  height: 0;
  top: 56.18%;
  left: 20.16%;
  opacity: 0.2;
}

.TK .vector-43 {
  position: absolute;
  width: 7.47%;
  height: 89.87%;
  top: 0;
  left: 0;
}

.TK .vector-44 {
  position: absolute;
  width: 7.48%;
  height: 96.13%;
  top: 0;
  left: 11.56%;
}

.TK .vector-45 {
  position: absolute;
  width: 7.47%;
  height: 89.87%;
  top: 0;
  left: 23.14%;
}

.TK .vector-46 {
  position: absolute;
  width: 7.47%;
  height: 89.87%;
  top: 0;
  left: 34.70%;
}

.TK .vector-47 {
  position: absolute;
  width: 7.47%;
  height: 89.87%;
  top: 2.62%;
  left: 46.26%;
}

.TK .vector-48 {
  position: absolute;
  width: 7.47%;
  height: 89.88%;
  top: 3.29%;
  left: 57.84%;
}

.TK .vector-49 {
  position: absolute;
  width: 7.48%;
  height: 96.13%;
  top: 3.87%;
  left: 69.41%;
}

.TK .vector-50 {
  position: absolute;
  width: 7.47%;
  height: 89.87%;
  top: 4.60%;
  left: 80.97%;
}

.TK .vector-51 {
  position: absolute;
  width: 7.47%;
  height: 89.87%;
  top: 5.24%;
  left: 92.53%;
}

.TK .vector-52 {
  position: absolute;
  width: 8.60%;
  height: 4.33%;
  top: 11.43%;
  left: 44.86%;
}

.TK .vector-53 {
  position: absolute;
  width: 30.64%;
  height: 0;
  top: 16.87%;
  left: 33.37%;
}

.TK .speech-bubble {
  position: absolute;
  width: 12.07%;
  height: 13.96%;
  top: 32.11%;
  left: 13.36%;
  background-image: url(./img/vector-53.svg);
  background-size: 100% 100%;
}

.TK .vector-54 {
  position: absolute;
  width: 30.26%;
  height: 37.79%;
  top: 23.92%;
  left: 30.80%;
}

.TK .vector-55 {
  position: absolute;
  width: 8.34%;
  height: 21.58%;
  top: 38.13%;
  left: 62.86%;
}

.TK .character {
  position: absolute;
  width: 33.52%;
  height: 66.39%;
  top: 33.52%;
  left: 19.38%;
}

.TK .customer-s {
  display: flex;
  width: 1002.34px;
  align-items: center;
  gap: 54.29px;
  padding: 22.27px 100.23px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--neutralsilver);
}

.TK .image {
  position: relative;
  width: 249.19px;
  height: 249.19px;
  margin-top: -5.57px;
  margin-bottom: -16.71px;
  margin-left: -11.14px;
  object-fit: cover;
}

.TK .we-have-enjoyed {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -0.70px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--neutralgrey);
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16.7px;
}

.TK .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.57px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.TK .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--brandprimary);
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.TK .text-wrapper-11 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutrallgrey);
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16.7px;
}

.TK .frame-8 {
  display: flex;
  align-items: center;
  gap: 22.27px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.TK .frame-9 {
  position: relative;
  flex: 0 0 auto;
}

.TK .frame-10 {
  display: flex;
  align-items: center;
  gap: 5.57px;
  padding: 5.57px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.TK .text-wrapper-12 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130.86px;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--brandprimary);
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.TK .element-arrows-directions-2 {
  position: relative;
  width: 16.71px;
  height: 16.71px;
  margin-right: -9.05px;
}

.TK .community-updates {
  display: inline-flex;
  align-items: center;
  gap: 11.14px;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
}

.TK .description-3 {
  width: 437.13px;
  color: var(--neutralgrey);
  text-align: center;
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16.7px;
}

.TK .element-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.TK .image-2 {
  position: relative;
  width: 256.15px;
  height: 199.08px;
  object-fit: cover;
}

.TK .content {
  display: inline-flex;
  align-items: center;
  padding: 11.14px;
  margin-top: -66.82px;
  background-color: var(--neutralsilver);
  border-radius: 5.57px;
  box-shadow: 0px 5.57px 11.14px #abbed166;
  flex-direction: column;
  gap: 11.14px;
  position: relative;
  flex: 0 0 auto;
}

.TK .text-wrapper-13 {
  position: relative;
  width: 198.38px;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--neutralgrey);
  font-size: 13.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.5px;
}

.TK .frame-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.57px;
  padding: 5.57px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.TK .text-wrapper-14 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--brandprimary);
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: 19.5px;
  white-space: nowrap;
}

.TK .element-arrows-directions-3 {
  position: relative;
  width: 16.71px;
  height: 16.71px;
}

.TK .image-3 {
  position: relative;
  width: 256.15px;
  height: 199.08px;
}

.TK .dot {
  display: inline-flex;
  align-items: flex-start;
  gap: 5.57px;
  position: absolute;
  top: 457px;
  left: calc(50.00% - 16px);
}

.TK .ellipse {
  position: relative;
  width: 6.96px;
  height: 6.96px;
  background-color: var(--brandprimary);
  border-radius: 3.48px;
}

.TK .ellipse-2 {
  opacity: 0.3;
  position: relative;
  width: 6.96px;
  height: 6.96px;
  background-color: var(--brandprimary);
  border-radius: 3.48px;
}

.TK .footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 2609px;
  left: 0;
  background-color: transparent;
}

.TK .frame-12 {
  display: flex;
  flex-direction: column;
  width: 1002.34px;
  align-items: center;
  gap: 22.27px;
  padding: 22.27px 0px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--neutralsilver);
}

.TK .let-nextcent-do-the {
  position: relative;
  width: 617.41px;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--neutralblack);
  font-size: 44.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 52.9px;
}

.TK .footer-big {
  display: inline-flex;
  align-items: flex-start;
  gap: 87.01px;
  padding: 44.55px 114.85px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--neutralblack);
}

.TK .company-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27.84px;
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
}

.TK .logo {
  gap: 6.88px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.TK .icon-4 {
  position: relative;
  width: 30.12px;
  height: 20.65px;
}

.TK .nexcent-2 {
  position: relative;
  width: 95.94px;
  height: 17.78px;
}

.TK .copyright {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 5.57px;
  position: relative;
  flex: 0 0 auto;
}

.TK .text-wrapper-15 {
  position: relative;
  width: 243.62px;
  margin-top: -0.70px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralsilver);
  font-size: 9.7px;
  letter-spacing: 0;
  line-height: 13.9px;
}

.TK .text-wrapper-16 {
  position: relative;
  width: 243.62px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralsilver);
  font-size: 9.7px;
  letter-spacing: 0;
  line-height: 13.9px;
}

.TK .social-links {
  display: inline-flex;
  align-items: flex-start;
  gap: 11.14px;
  position: relative;
  flex: 0 0 auto;
}

.TK .social-icons {
  position: relative;
  width: 22.27px;
  height: 22.27px;
}

.TK .links {
  display: inline-flex;
  align-items: flex-start;
  gap: 20.88px;
  position: relative;
  flex: 0 0 auto;
}

.TK .col {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16.71px;
  position: relative;
  flex: 0 0 auto;
}

.TK .text-wrapper-17 {
  position: relative;
  width: 111.37px;
  margin-top: -0.70px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--neutralwhite);
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.TK .list-items {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8.35px;
  position: relative;
  flex: 0 0 auto;
}

.TK .text-wrapper-18 {
  position: relative;
  width: 111.37px;
  margin-top: -0.70px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralsilver);
  font-size: 9.7px;
  letter-spacing: 0;
  line-height: 13.9px;
}

.TK .text-wrapper-19 {
  position: relative;
  width: 111.37px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--neutralsilver);
  font-size: 9.7px;
  letter-spacing: 0;
  line-height: 13.9px;
}

.TK .col-2 {
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16.71px;
  position: relative;
  flex: 0 0 auto;
}

.TK .email-input-field {
  position: relative;
  width: 179.5px;
  height: 27.84px;
  margin-right: -2.00px;
}

.TK .input-field-BG {
  position: absolute;
  width: 98.89%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--default-white);
  border-radius: 5.57px;
  opacity: 0.2;
}

.TK .essential-icons-send {
  position: absolute;
  width: 6.98%;
  height: 45.00%;
  top: 27.50%;
  left: 87.25%;
}

.TK .text-wrapper-20 {
  position: absolute;
  width: 49.03%;
  height: 50.28%;
  top: 22.50%;
  left: 4.65%;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-gray-300);
  font-size: 9.7px;
  letter-spacing: 0;
  line-height: 13.9px;
  white-space: nowrap;
}
